<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fruit.name %></title>
  </head>
  <body>
    <h1><%= fruit.name %></h1>

    <!-- Conditional rendering for readiness of fruit for consumption -->
     <% if (fruit.isReadyToEat) { %>
    <p>This fruit is ready to eat!</p>
  <% } else { %>
    <p>This fruit is NOT ready to eat!</p>
  <% } %>

  <a href="/fruits/">Back to All Fruits</a>
  </body>
</html>
